<div class="container">
  <div class="row">
    <div class="col-6"><img src="../assets/images/4.jpeg" width="100%" /></div>
    <div class="col-6">
      <h1 class="form-signin-heading mt-4 mb-4">Mon profil</h1>
      <label for="name" class="form-label">Nom complet</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nom complet"
          [(ngModel)]="userModel.name"
          aria-label="name"
        />
      </div>

      <label for="email" class="form-label">Adresse email</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Adresse email"
          [(ngModel)]="userModel.email"
          aria-label="email"
        />
      </div>

      <label for="role" class="form-label">Role</label>
      <div class="input-group mb-3">
        <select
          [(ngModel)]="userModel.role"
          class="form-select form-select-lg mb-3"
          aria-label="Role"
        >
          <option *ngFor="let role of ROLES; index as i" value="{{ role }}">
            {{ role }}
          </option>
        </select>
      </div>
      <button class="mt-2" (click)="updateUser()" class="btn btn-primary">
        Sauvegarder
      </button>
      <hr class="mb-3 mt-3" />
      <label for="friends" class="form-label"><b>Les amis</b></label>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom complet</th>
            <th scope="col">Adresse email</th>
            <th scope="col">Role</th>
            <th scope="col">Relation</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let friendship of userModel.friendships; index as i">
            <ng-container *ngIf="friendship.recipient">
              <td>{{ friendship.recipient.name }}</td>
              <td>{{ friendship.recipient.email }}</td>
              <td>{{ friendship.recipient.role }}</td>
              <td>{{ friendship.relationship }}</td>

              <td>
                <button
                  (click)="removeFriendship(friendship._id)"
                  class="btn btn-danger"
                >
                  {{ friendship.status }}
                </button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>

      <label for="newFriendModel" class="form-label"
        ><b>Inviter un ami</b></label
      >
      <div class="input-group mb-3">
        <select
          [(ngModel)]="newFriendModel._id"
          class="form-select form-select-lg mb-3"
          aria-label="newFriendModel"
        >
          <option value="">Sélectionner</option>
          <ng-container *ngFor="let user of users; index as i">
            <option *ngIf="user._id !== userModel._id" value="{{ user._id }}">
              {{ user.name }}
            </option>
          </ng-container>
        </select>
      </div>

      <label for="relationship" class="form-label">Relation</label>
      <div class="input-group mb-3">
        <select
          [(ngModel)]="newFriendModel.relationship"
          class="form-select form-select-lg mb-3"
          aria-label="Relationship"
        >
          <option value="">Sélectionner</option>
          <option
            *ngFor="let relationship of RELATIONSHIPS; index as i"
            value="{{ relationship }}"
          >
            {{ relationship }}
          </option>
        </select>
      </div>

      <button class="mt-2" (click)="addFriend()" class="btn btn-primary">
        Inviter un ami
      </button>

      <hr class="mb-3 mt-3" />

      <label for="newFriendModel" class="form-label"
        ><b>Ajouter un utilisateur</b></label
      >
      <form (submit)="createAndAddFriend()">
        <div class="form-group">
          <label for="name">Nom complet</label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Enter your name"
            [(ngModel)]="newUserModel.name"
          />
        </div>
        <div class="form-group">
          <label for="email">Adresse email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter email"
            [(ngModel)]="newUserModel.email"
          />
        </div>
        <div class="form-group">
          <label for="password">Mot magique</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            [(ngModel)]="newUserModel.password"
          />
        </div>
        <div class="form-group">
          <label for="relationship" class="form-label">Relation</label>
          <div class="input-group mb-3">
            <select
              [(ngModel)]="newUserModel.relationship"
              class="form-select form-select-lg mb-3"
              aria-label="Relationship"
            >
              <option value="">Sélectionner</option>
              <option
                *ngFor="let relationship of RELATIONSHIPS; index as i"
                value="{{ relationship }}"
              >
                {{ relationship }}
              </option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
      <hr class="mb-3 mt-3" />
      <div *ngIf="message != ''" class="mt-2">
        <ngb-alert [dismissible]="false" type="success">
          <strong>Info:</strong> {{ message }}
        </ngb-alert>
      </div>
    </div>
  </div>
</div>
